{% extends 'base.html' %} {% block content %}
<h2>Churches</h2>
<a href="{% url 'church_create' %}">Add New Church</a>
<ul>
    {% for church in churches %}
    <li>
        <a href="{% url 'church_detail' church.id %}">{{ church.name }}</a>
        <a href="{% url 'church_update' church.id %}">Edit</a>
        <a href="{% url 'delete_church' church.id %}" class="btn btn-danger " onclick="return confirm('Are you sure you want to delete this church?');">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}