{% extends 'base.html' %} {% block content %}
<h2>Contributions for {{ church.name }}</h2>
<a href="{% url 'contribution_create' church.id %}">Add New Contribution</a>
<ul>
    {% for contribution in contributions %}
    <li>
        {{ contribution.contributor }}: {{ contribution.amount }} on {{ contribution.contribution_date }}
        <a href="{% url 'contribution_update' contribution.id %}">Edit</a>
        <a href="{% url 'contribution_delete' contribution.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}